/*拡張クラスを追加するスタイルシート*/
.sankou,
.sanko,
.reffer,
.ref{
  color: #fff;
  background-color: #fc7a22;
  padding: 1px 5px 0;
  border-radius: 2px;
  font-size: 12px;
}

/*太字*/
.bold{
  font-weight:bold;
}

/*赤色*/
.red{
  color:#E50202;
}

/*太字で赤色*/
.bold-red{
  font-weight:bold;
  color:#E50202;
}

/*マーカーの黄色のような色*/
.marker{
  background-color:#FF9;
}

/*打ち消し線*/
.strike{
  text-decoration: line-through;
}

/*キーボードキーのスタイル*/
.keyboard-key {
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(center top , #eee, #f9f9f9, #eee);
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 1px 2px 2px #ddd;
  font-family: inherit;
  font-size: 0.85em;
  padding: 1px 3px;
  padding: 1px 3px;
}

/*ブートストラップのインフォメーションライクな囲みが表示される*/
.sp-primary {
  background-color: #428BCA;
  color: #FFFFFF;
  padding:15px;
  border-radius:4px;
  margin-bottom:20px;
}

/*サクセスメッセージ*/
.sp-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  padding:15px;
  border-radius:4px;
  margin-bottom:20px;
}

/*インフォメッセージ*/
.sp-info {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  padding:15px;
  border-radius:4px;
  margin-bottom:20px;
}

/*注意メッセージ*/
.sp-warning {
  background-color: #FCF8E3;
  padding:15px;
  border-radius:4px;
  margin-bottom:20px;
  border-color: #FAEBCC;
}

/*警告メッセージ*/
.sp-danger {
  background-color: #F2DEDE;
  border-color: #EBCCD1;
  padding:15px;
  border-radius:4px;
  margin-bottom:20px;
}

/*******************************
* 左からの吹き出し
********************************/
.left_balloon,
.left-balloon {
    position: relative;
    background: #fff;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 20%;
    clear: both;
    max-width: 500px;
    float: left;
}
.left_balloon:after,
.left_balloon:before,
.left-balloon:after,
.left-balloon:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after,
.left-balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before,
.left-balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* 右からの吹き出し
********************************/
.right_balloon,
.right-balloon {
    position: relative;
    background: #85e249;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
}
.right_balloon:after,
.right_balloon:before,
.right-balloon:after,
.right-balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.right_balloon:after,
.right-balloon:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #85e249;
    border-width: 7px;
    margin-top: -7px;
}
.right_balloon:before,
.right-balloon:before {
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #777;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* 割り込みを解除
********************************/
.clear_balloon,
.clear-balloon{
  clear: both;
  margin: 20px;
}

/*******************************
* LINEの背景っぽいもの
********************************/
.line_back,
.line-back{
  background-color: #7897C5;
  padding: 10px;
  padding-bottom: 20px;
}