/************************************
** メニュースタイルの調整
************************************/
#navi ul{
  background-color: transparent;
}

#navi ul li a{
  background-color: transparent;
  color: #333;
  border: none;
}

#navi ul li a:hover{
  background-color: transparent;
}

#navi ul.sub-menu, #navi ul.children{
  background-color: transparent;
}


/************************************
** スライトメニューの閉じるボタン
************************************/
.slide-close a{
  color: #333;
}

/************************************
** 入力フォーム
************************************/
#cse-search-box input[type="text"]{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
}

/************************************
** カスタマイザー対策
************************************/
div#sidebar{
  background: #f8f8f8 none repeat scroll 0 0;
}

div#navi {
   background: #f8f8f8 none repeat scroll 0 0;
}

div#navi ul li a{
  color: #333;
}

div#navi ul li a:hover {
    background-color: transparent;
}

div#navi ul,
div#navi ul.sub-menu,
div#navi ul.children{
  background: #f8f8f8 none repeat scroll 0 0;
}
