/************************************
** メニュースタイルの調整
************************************/
div#navi {
  background-color: #333;
}


div#navi ul li {
  background-color: #333;
}

div#navi ul li a{
  color: #fff;
  background-color: transparent;
}

div#navi ul li a:hover{
  background-color: #444;
}


div#navi ul.sub-menu,
div#navi ul.children {
  background-color: #777;
  background-color: #333;
}

/************************************
** スライトメニューの閉じるボタン
************************************/
.slide-close a{
  color: #fff;
}

/************************************
** メニューサイドバースタイルの調整
************************************/
div#sidebar{
  background-color: #333;
}

div#sidebar #s{
  background-color: #fff;
}

div.sidr {
  color: #ccc;
}

div#sidebar ul.snsp li a{
  color: #888;
}

div.sidr ul li ul li:hover,
div.sidr ul li ul li.active,
div.sidr ul li ul li.sidr-class-active{
  border-top: 0 solid #333;
}

#sidebar.sidr select {
  background-color: #555;
  color: #eee;
}

#sidebar.sidr option {
  color: #eee;
}

#sidebar.sidr .blog-card-excerpt{
  color: #ccc;
}

#sidebar.sidr .blog-card-title{
  color: #fff;
}