@charset "utf-8";
//
//  variable 変数
//  ------------------------------------------

// 基本フォントファミリー
$simplicity_fontfamily: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;


//	基本色
$fontColor: #333;
$backgroundColor: transparent;


//	anchor
$linkColor: #2098A8;
$hoverColor: #c03;

// anchor - widget
$widgetlinkColor: #111;
$widgetHoverColor: #c03;

//
//  tag color
//  ------------------------------------------

//	tag - pre
$preBackground-color: #eee;

//	tag hr
$hrColor: #ddd;

//	tag - table
$thBackgroundColor: #eee;

//	sns color
$twitterColor: #55acee;
$facebookColor: #3b5998;
$googlePlusColor: #dd4b39;
$instagramColor: #3f729b;
$hatenaColor: #3C7DD1;
$pinterestColor: #cc2127;
$pocketColor: #EE4257;
$youtubeColor: #e52d27;
$flickrColor: #1d1d1d;
$lineColor: #00c300;
$evernoteColor: #51b125;
$feedlyColor: #87bd33;
$push7Color: #eeac00;
$rssColor: #fe9900;
$commentColor: #555;
