@charset "utf-8";

/**
 * ブログカードのスタイル
 */

.blog-card {
    position: relative;
    width: 500px;
    min-width: 300px;
    max-width: 100%;
    min-height: 155px;
    margin: 20px 0;
    //box-sizing: border-box;
    @include clearfix;

    img {
        border: 0;
    }

    //#the-content内のaはunderlineありにしたのでblog-cardでは取る
    a {
        text-decoration: none;
    }
}

.internal-blog-card {
    padding: 12px 12px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    word-wrap: break-word;
}

.external-blog-card {
    border: 0;
    background-color: transparent;
    overflow: hidden;
}

.blog-card-thumbnail {
    float: left;
}

img.blog-card-thumb-image {
    // width: 100px;
    // height: 100px;
    @include square(100px);
}

.blog-card-content {
    margin-left: 110px;
    line-height: 120%;
}

.blog-card-title {
    margin-bottom: 5px;

    a {
        font-weight: bold;
        color: #111;
        //text-decoration: none;
    }
}

.blog-card-excerpt {
    color: #333;
    font-size: 90%;
}

.blog-card-footer {
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 0.7em;
    color: #777;
    clear: both;
}

.blog-card-hatebu {
    float: left;
    margin-right: 7px;
}

.blog-card-date {
    float: right;
    margin-top: -1px;
}

.blog-card-site {
    float: left;
    margin-top: 1px;
    margin-right: 7px;

    a {
        position: relative;
        top: -3px;
        color: #777;
        //text-decoration: none;
    }
}

.blog-card-favicon {
    margin-right: 3px;
}

.blog-card-favicon-img {
    // width: 16px;
    // height: 16px;
    @include square(16px);
}

// IE10以降
// @media all and (-ms-high-contrast:none){
//   .blog-card-favicon {
//     display:none;
//   }
// }

.clear {
    clear: both;
}

#sidebar {
    .blog-card {
        width: 100%;
        min-width: initial;
        margin-left: 0;
        margin-right: 0;
        // サイドバーの幅によってはsiteアイコン等がはみ出すため追加
        @include clearfix;
    }

    .blog-card-excerpt,
    .blog-card-footer {
        font-size: 11px;
        line-height: 120%;
    }

    .blog-card-thumb-image {
        // width: 80px;
        // height: 80px;
        @include square(80px);
        margin-bottom: 20px;
    }

    .blog-card-content {
        margin-left: 90px;
    }
}

@media screen and (max-width: 524px) {
    //.blog-card{width:auto;}
}
