/*
  Name: スキンテンプレート（独自カスタマイズ用）
  Priority: 1000
  
  Name:は必ず「スキン名」を記入する必要があります。記入してないと、テーマカスタマイザーに表示されません。
  
  Priority:は、テーマカスタマイザーに表示する優先度です。順番がどうでもいい場合は記入する必要がありません。
  
  ※スキンでのカスタマイズについては以下のページを参照してください。
  
  Simplicityのスキン機能の仕様
  http://wp-simplicity.com/skin/
  
  【スキン機能の概要】
  このカスタマイズ用スキンフォルダー「skin-template」を
  「simplicity/skins」フォルダーにコピーして．新たに名前をつけて使うことによって、
  好きなだけスキンを増やすことができます。
  （アップデート時に上書きしないためにも、コピーして新しく名前をつけての使用を推奨）
  
  子テーマでは、コードもカスタマイズすることができますが、
  スキンではスタイルシート変更することしかできません。
  スキンを利用する利点は、
  ・子テーマを使用せずとも手軽にスタイルだけを変更できる
  ・「simplicity/skins」にあるスキンフォルダをコピペすることによって手軽にスタイルを増やすことができる
  ・他の人が作ったスキンを「simplicity/skins」に放り込めば手軽に再利用することができる
  ・テーマカスタマイザーから手軽に変更する事ができる（子テーマも手軽だけど）
  スキンの難点は
  ・子テーマのようにテンプレートを変更することはできない（スタイルシートのみの変更）
  ・スタイルシートの適用される優先度がややこしい
  などがあります。
  
  スタイルシートが適用される順番は、以下のようになります。
  後から呼び出されているものほど優先度が高いです。
  1.Simplicity（親テーマ）のstyle.css
  2.子テーマのstyle.css
  3.スキンのstyle.css
  4.Simplicity（親テーマ）のmobile.css
  5.子テーマのmobile.css
  6.スキンのmobile.css
  7.テーマカスタマイザーで変更したスタイル
  Simplicity設定で使用するスタイルだと、テーマカスタマイザーで変更したものが
  最も優先して適用されます。
*/

/*以下にスタイルシートを記入してください*/