@charset "UTF-8";

/**
 * アンカー
 */

a {
    color: $linkColor;
    word-wrap: break-word;

    //aタグは全体的にtext-decorationをnoneとしておき、
    //逆にunderline等が必要な場合は、その場合に追加する方が効率的かと
    text-decoration: none;

    &:hover {
        color: $hoverColor;
    }
}

 .widget_new_entries,
 .widget_new_popular,
 .widget_popular_ranking,
 .wpp-list,
 .entry-read,
 .related-entry-read,
 .entry-title {
	 a{
		 color: #111;
		 &:hover {
			 color: $hoverColor;
		 }
	 }
 }

.widget_new_entries,
.widget_new_popular,
.widget_popular_ranking,
.wpp-list,
.entry-title {
    a {
        text-decoration: none;
    }
}

.article-list {
    color: #111;
    //text-decoration: none;

    &:hover {
        color: $hoverColor;
    }
}

//.wpp-list a:hover:hover ? だったのでremove
.widget_new_entries,
.widget_new_popular,
.widget_popular_ranking,
.wpp-list {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.entry,
.related-entry-title,
.navigation,
#footer {
    a {
        &:hover {
            color: $hoverColor;
        }
    }
}

#footer {
	.credit {
		a {
			&:hover {
				color: inherit;
			}
		}
	}
}
