@charset "UTF-8";

/**
 * 見出し（H1-6）
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    //line-height: 130%;
    line-height: $headings-line-height;
    //color: #333;
    color: $headingColor;
}

//bootstrapの設定から
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 65%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

#archive-title {
    //padding-bottom: 20px;
    margin-bottom: $line-height-computed; //change from padding
    //font-size: 26px;
    font-size: $font-size-h2; //change
}
