@charset "utf-8";

/**
 * 見出し（H1-6）
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 130%;
    color: #333;
}

#archive-title {
    padding-bottom: 20px;
    font-size: 26px;
}

.entry-content {
    margin-bottom: 60px;
}
