@charset "utf-8";

/**
 * 旧Twitterボタンのような見た目を再現
 */

.twitter-balloon-btn-defalt {

    .balloon-btn-set {
        display: block;
        //  width: 65px;
        //  height: 63px;
        @include size(65px,63px);
    }

    a.balloon-btn-link {
        position: relative;
        width: 65px;
    }

    .arrow-box {
        width: 65px;
    }

    a.twitter-balloon-btn-link {
        .tweet-label {
            font: 11px "Helvetica Neue",Arial,sans-serif;
            font-weight: bold;
            color: #000;
            vertical-align: 25%;
        }
    }
}

#sns-group-top {
    .twitter-balloon-btn-defalt {

        .balloon-btn-set {
            width: 100px;
            margin-bottom: 0;
        }

        .balloon-btn-link {
            width: 65px;
        }

        .arrow-box {
            width: 25px;
        }
    }
}
