@charset "UTF-8";

/**
 * ロゴのアイコンフォントに関する設定（フォローボタン等で使用）
 */

//2.1.7のフォローボタンの仕様変更によりテーマカスタマイザーでホバーを設定しているときにも打ち勝つ優先度の高いCSSセレクタで設定する必要がある
#container ul.snsp li a:hover{
	color: #fff;
}

.snsp {
	li {
		display: inline-block; //2.1.7 add
		margin-right: 5px; //2.1.7 add

		a {
			color: #fff; //2.1.7

			span {
				//display: inline-block;
				display: block; //2.1.7 change
				// width: 33px;
				// height: 33px;
				@include square(33px);
				//font-size: 40px;
				font-size: 33px; //2.1.7 change
				//line-height: 33.5px; //2.1.7 remove
				padding: 0;
				background-repeat: no-repeat;
				background-position: 3px 5px;
				//background-color: #fff;
				background-color: #666; //2.1.7 change
				//border-radius: 8px;
				border-radius: 4px; //2.1.7 change
				z-index: 1;
				overflow: hidden; //2.1.7 add

				&.icon-feedly-square,
				&.icon-hatebu-square,
				&.icon-line-square,
				&.icon-push7-square {
					position: relative;
					//画像をBase64にするためコメントアウト
					//background-image: url("../images/white-feedly.png");
					//background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcAQMAAABIw03XAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAB9JREFUCNdjkP//v4Gh/v//BxDi////H+hGIOwFOwMAuf5pDfN+XdkAAAAASUVORK5CYII=");
					// top: 1px;
					// line-height: 34.5px;
				}
			}
		}

		&.twitter-page a span:hover {
			background-color: $twitterColor;
		}
		&.facebook-page a span:hover {
			background-color: $facebookColor;
		}
		&.google-plus-page a span:hover {
			background-color: $googlePlusColor;
		}
		&.instagram-page a span:hover {
			background-color: $instagramColor;
		}
		&.hatebu-page a span:hover {
			background-color: $hatenaColor;
		}
		&.pinterest-page a span:hover {
			background-color: $pinterestColor;
		}
		&.youtube-page a span:hover {
			background-color: $youtubeColor;
		}
		&.flickr-page a span:hover {
			background-color: $flickrColor;
		}
		&.feedly-page a span:hover {
			background-color: $feedlyColor;
		}
		&.push7-page a span:hover {
			background-color: $push7Color;
		}
		&.line-page a span:hover {
			background-color: $lineColor;
		}
		&.rss-page a span:hover {
			background-color: $rssColor;
		}
		&.feedly-page a img {
			margin-bottom: -3px;
			border-radius: 7px;
			border-width: 0;
		}
	}
}

//
//  feedly、LINEアイコンは自作なので少し大きかったので調整
//  ------------------------------------------
//  feedly、LINEアイコンは調節して作り直しているので元に戻した
#footer {
	.snsp {
		li {
			a {
				span {
					background-color: transparent;
				}
			}
		}
	}
}
