@charset "UTF-8";

/**
 * シェアバー
 */

#sharebar {
    //position: absolute; //後で上書きされている
    position: fixed;
    width: 90px;
    margin: -50px 0 0 -110px;
    padding: 0;
    text-align: center;
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #CCC;
    z-index: 99;

    ul {
        &.snsb-balloon {
            li {
                margin-left: 15px;
                margin-bottom: 10px;
            }
        }

        li {
            display: block;
            float: none;
            margin: 5px;
            padding: 0;
            //padding: 0;
            text-align: center;
            overflow: hidden;

            div {
                margin: auto;
            }
        }
    }

    .comments-balloon-btn {
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .sns-share-msg {
        display: none;
    }

    // article内のaタグはunderlineアリにしたので、sharebarでは非表示
    a {
        text-decoration: none;
    }
}
