/****************************
** File：style.css
****************************/
/*
  Name:親テーマパーツスキン
  Priority: 1.0
  Author: yhira
  Author URI: http://nelog.jp/
*/
/*このstyle.cssファイルと同じフォルダにパーツとなるCSSファイルを放り込んでください*/
/*以下にスタイルシートを記入してください*/
